# Dependencies
node_modules/

# Build outputs
dist/
.astro/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Sanity
.sanity/

# Logs
*.log
npm-debug.log*


scripts/node_modules
scripts/package-lock.json